################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/4.1.0/src/JxStudioAPICenter.Application/Properties
/4.1.0/test
